* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.partCircle {

    width: 400px;
    height: 400px;
    border-radius: 2px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;


}

.circleContainer {
    position: relative;
    display: flex;
    gap: 9px;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}

.moveLeftToCenter {
    animation: moveLeftToCenter 1s;
    animation-timing-function: ease;
}

.moveCenterToRight {
    animation: moveCenterToRight 1s;
    animation-timing-function: ease;
}

.moveRightToCenter {
    animation: moveRightToCenter 1s;
    animation-timing-function: ease;
}

.moveCenterToLeft {
    animation: moveCenterToLeft 1s;
    animation-timing-function: ease;
}

.moveLeftToRight {
    animation: moveLeftToRight 1s;
    animation-timing-function: ease;
}

.moveRightToLeft {
    animation: moveRightToLeft 1s;
    animation-timing-function: ease;
}

.bgContent {
    width: 400px;
    height: 400px;
    background: #9b59b6;
    position: absolute;
    border-radius: 2px;
}

.bgchange {
    width: 400px;
    height: 400px;
    border-radius: 2px;
}

.moveBgRightToLeft {
    animation: bgRightToLeft 1s;
    animation-timing-function: ease;
}

@keyframes moveLeftToCenter {
    0% {
        left: 5px;
    }

    100% {
        left: 64px;
    }
}

@keyframes moveCenterToRight {
    0% {
        left: 64px;
    }

    100% {
        left: 123px;
    }
}

@keyframes moveRightToCenter {
    0% {
        left: 123px;
    }

    100% {
        left: 64px;
    }
}

@keyframes moveCenterToLeft {
    0% {
        left: 64px;
    }

    100% {
        left: 5px;
    }
}

@keyframes moveLeftToRight {
    0% {
        left: 5px;
    }

    100% {
        left: 123px;
    }
}

@keyframes moveRightToLeft {
    0% {
        left: 123px;
    }

    100% {
        left: 5px;
    }
}

@keyframes bgRightToLeft {
    0% {
        width: 0px;
    }

    50% {
        width: 0px;
    }

    100% {
        width: 400px;
    }
}